.app {
 
 text-align: center;
 margin: 30px;
 
}

.todo {
 border:  rgba(67, 101, 104, 0.623) solid 2px;
 font-family: initial;

}

.todo span{
font-family: initial;
font-weight: bold;
margin: 0px 0px 0px 10px;

}


.add {
 border: rgb(215, 216, 155) solid 2px;
 font-family: initial;
 font-weight: bold;
}


body{
  background-image:url('https://i.pinimg.com/564x/1a/00/63/1a00631a59fb9d8b6007ad76089fe4a5.jpg') ;
}

div{
  
   justify-content: center;
    background-color: white;
    justify-content: center;
    border: rgba(67, 101, 104, 0.623) solid 2px ; 
    margin: 40px 40px 40px 40px; 
    ;
}

button{
  background-color:rgba(59, 164, 172, 0.623);
  font-weight: bold;
  color:white;
  margin: 3px ;
  border-color: rgba(59, 164, 172, 0.623);
}

h1{
  font-family: initial;
}

input{
  font-family: initial;

}

.style{
  height: 50px;
}


.login{
  border: blue solid 2px ; 

}

.register{

  border: green solid 2px ; 

}